<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Certificate Issue List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>증명서확인번호</th>
        <th>증명서유형코드</th>
        <th>증명서발급일자</th>
    </tr>
    </thead>
    <tbody th:each="certificateIssue, status : ${certificateIssuePage}" th:object="${certificateIssue}">
    <tr>
        <td th:text="*{certificateConfirmationNumber}"></td>
        <td th:text="*{certificateTypeCode}"></td>
        <td th:text="*{certificateIssueDate}"></td>
    </tr>
    </tbody>
</table>

<div>
    <th:block th:each="pageNumber : ${#numbers.sequence(0, certificateIssuePage.getTotalPages() - 1)}">
        <a th:href="@{/{serialNumber}/certificate-issues(serialNumber=${serialNumber}, size=${certificateIssuePage.getSize()}, page=${pageNumber}, sort=${certificateIssuePage.getSort()})}" th:text="${pageNumber + 1}"></a>
    </th:block>
</div>
</body>
</html>